<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/DChome.css">
  </head>
  <body>
    <!--Movil-->
    <!--Nav-->
    <div class="nav nav-movil container-flex">
      <div class="row">
        <div class="col s12 l12 xl12">
          <div class="logo col s12 l12">
            <a class="" href="../index.html">
              <img src="../assets/images/Wanderbus.png" alt="" class="img-responsive logo offset-l4 col l4">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--part-home-inferior CARRUSEL-->
    <div class="box-part-carrusel container-flex">
      <div class="row">
        <!--part-home-inferior CARRUSEL deskopt-->
        <div class="carrusel-deskopt hide-on-small-only">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="../assets/images/1.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="black-text">Realización de </h3>
                  <h5 class="light black-text text-lighten-3">Cupcakes de vainilla, que se darán al finalizar la encuesta</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/2.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="black-text">Cupcakes y entrevistas</h3>
                  <h5 class="light black-text text-lighten-3">Angélica mostrando las entrevistas para las encuestas y el por el tiempo que nos dieron</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/3.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="black-text">Encuestando</h3>
                  <h5 class="light black-text text-lighten-3">Realizando encuesta, a usuario del terminal terrestre de Plaza Lima Norte</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/4.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="black-text">Encuestando</h3>
                  <h5 class="light black-text text-lighten-3">Realizando encuesta, a usuario del terminal terrestre de Plaza Lima Norte</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/5.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="black-text">Encuestando</h3>
                  <h5 class="light black-text text-lighten-3">Realizando encuesta, a usuario del terminal terrestre de Plaza Lima Norte</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/6.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="black-text">Terminal Terrestre Plaza Lima Norte</h3>
                  <h5 class="light black-text text-lighten-3">Agencias dentro del terminal</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/7.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="black-text">Findings en post-its</h3>
                  <h5 class="light black-text text-lighten-3">Empezando el proceso</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/8.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="black-text">Proceso de armar</h3>
                  <h5 class="light black-text text-lighten-3">Post-its con nuestra ideas</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <div class="box-part-carrusel container-flex">
      <div class="row">
        <h1 class="text-center">PROTOTYPE</h1>
        <!--part-home-inferior CARRUSEL deskopt-->
        <div class="carrusel-deskopt hide-on-small-only">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="../assets/images/1.jpg"> <!-- random image -->
                <div class="caption right-align">
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/1.jpg"> <!-- random image -->
                <div class="caption right-align">
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/1.jpg"> <!-- random image -->
                <div class="caption right-align">
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="../assets/images/1.jpg"> <!-- random image -->
                <div class="caption right-align">
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/Bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/workdata.js"></script>
    <script type="text/javascript" src="../js/nuevadataDC.js"></script>
    <script type="text/javascript" src="../js/slider2.js"></script>
  </body>
</html>
